.parent{

    display:flex;
    
    gap: 5px;
    
    }

img {
    width: 60%;
    height: auto;
    }

#gui_container{
    position: absolute;
    top: 0%;
    left: 20%;
    }
    #gui{
    transform:translate(0%, 0);
    }
    